.DS_Store
.#*
__pycache__/
.vscode/


crystal/docs/
crystal/lib/
crystal/bin/
crystal/.shards/
crystal/**/*.dwarf

# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
crystal/shard.lock


# rust
/rust/target
**/*.rs.bk


# nim
/nim/tests/*
!/nim/**/*.nim
!/nim/**/*.nims
!/nim/**/*.nimble


# scala
/scala/target/
/scala/project/target/
/scala/project/project/
*.iml
/scala/out/
